<form method="post" action="{% url 'change_password' %}" id="form_change_password" role="form">
  {% csrf_token %}

  {% for field in form %}
  	{% for error in field.errors %}
      <span class="help-block" style="color: red">{{ error }}</span>
    {% endfor %}  

	<div class="form-group">
	  <label for="{{ field.label }}">{{ field.label }}</label>
	  <input class="form-control" required="" name="{{ field.name }}" type="password">
	</div>
	<div>
		{{ field.help_text|safe }}
	</div>

  {% endfor %}
  	<div class="form-group">
		<button type="submit" class="btn btn-primary">Salvar</button>
		<button type="reset" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>
  	</div>
</form>